@model List<DogViewModel>
@{
    ViewData["Title"] = "SearchResults";
}

<h1>Dogs found: @Model.Count</h1>

@foreach (var dog in Model)
{
    <a asp-controller="Dogs" asp-action="Dog" asp-route-id="@dog.Id">
        <div class="row" style="padding-top:100px">
            <div class="col-5">
                <h1 class="text-dark">
                    @dog.Name
                </h1>
                <img src="@dog.Images.First().Value" alt="Dog pic" width="400" />
            </div>
            <div class="col-5" style="padding-top:30px">
                <h3 class="text-dark">Age: @Math.Round(((DateTime.Today.Subtract(dog.BirthDate).TotalDays) / 365), 1) years</h3>
                <h3 class="text-dark">Owner: @dog.Owner</h3>
                <h4 class="text-dark">Owner says: @dog.OwnerNotes</h4>
                @if (dog.IsVaccinated)
                {
                    <h3 class="text-dark">Dog is vaccinated</h3>
                }
                else
                {
                    <h3 class="text-danger">Not vaccinated!</h3>
                }
                @if (dog.IsDisinfected)
                {
                    <h3 class="text-dark">Dog is disinfected</h3>
                }
                else
                {
                    <h3 class="text-danger">Not disinfected!</h3>
                }
                <h3 class="text-dark">Pics: @dog.Images.Count</h3>
            </div>
        </div>
    </a>
}

